$color-azul: #151b6e;
$color-black: #050505;
$color-dark: #1f1f1f;
$color-gray: #4f4f52;
$color-gray-l: #d5d5d5;

$color-shadow: rgba(0,0,0,0.5);
$color-white: #edeaea;
$color-white-2: #e7f5f5;

$color-titles-2: $color-white;